@{
    ViewData["Title"] = "Code";
}
<h1>@ViewData["Title"]</h1>

<p>This project is open source.</p>
<p>Project writed on C# language.</p>
<p><a href="https://github.com/okis-okis/Onyx">Project code</a></p>
